<h1>{{'title' | translate:language }}<img src="clipboard.png" width="40" height="40" style="margin-left: 10px;"/></h1>

<ul>
    @for (item of selectedItems; track item)
    {
        <app-task [item]="item"/>
    }

    @if (current.currentItem != "")
    {
        <app-task [item]="current.currentItem"/>
    }

    @if (items.length == 0 && current.currentItem == "")
    {
        <div class="alert">
            <p>No work to do hehe</p>
        </div>
    }
</ul>

<add-item 
    [placeholder]="'placeholder' | translate:language"
    (onSendInput)="receiveNewItem($event)"
    #current/>