.nav-container 
{
    font-family: bookerly-display;

    background-color: #BA005C;
    color: aliceblue;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    padding: 20px;

    width: 100vw;

    height: 7vh;

}

a
{
    color:inherit;
    text-decoration:none;
    cursor: pointer;
    font-weight: 500;
}
